:root {
  --color1: rgb(25,83,95);
  --color2: rgb(11,122,117);
  --color3: rgb(215,201,170);
  --color4: rgb(123,45,38);
  --color5: rgb(240,243,245);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-image: linear-gradient(
    var(--color3),
    var(--color2),
    var(--color2),
    var(--color3)
  );
}


/* modal styling */
.modalBackground {
  background: var(--color1);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.modalContainer {
  background: var(--color2);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* contact form */
.label {
  color: var(--color5);
}

.warning-box {
  background-color: var(--color2);
  color: red;
}

/* home page */
jumbotron {
  width: 80%;
}

/* user card */
.profile-container {
  background-color: var(--color3);
  border: 2px solid var(--color4);
}

.card-content {
  margin-bottom: 0;
}

.user-title{
  color: var(--color5);
  font-size: x-small;
}


/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
  max-height: 40px;
  background-color: var(--color3);
  border-top: 3mm ridge var(--color4);
}


/* pages */
.page{
  margin-bottom: 40px;
}

#page-title{
  color: var(--color3);
  font-weight: 900;
}

/* signup form */
.sign-up-container{
  align-content: center;
  width: 100%;
}
.sign-up-box{
  width:70%;
  /* background-color: var(--color1); */
  background-image: radial-gradient( var(--color1),var(--color4),var(--color2),var(--color1));
}

/* Nav bar */
/* .navbar{
  background-image: linear-gradient(var(--color3),var(--color2),var(--color3));
  z-index: 1;
}

.nav-btn{
  border:none;
  width:100%;
}

.navbar-dropdown,
.nav-btn{
  background-color: var(--color5);
} */